# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=HempyCoin
Comment=HempyCoin QT main network
GenericName=HempyCoin Digital Currency QT client main network
Exec=hempycoin-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/hempycoin.png
MimeType=x-scheme-handler/hempycoin;
Categories=X-Office;X-Finance;
Keywords=internet;hempycoin;zhyc;hyc;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
